.editPetDropdown {
  width: 10rem;
  position: absolute;
  list-style: none;
  text-align: start;
}

.editPetDropdown li {
  background-color: #f1356d;
  cursor: pointer;
}

.editPetDropdown a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: .75rem;
}