@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  font-family: "Montserrat";
  color: #333;
}

.content {
  max-width: 80%;
  margin: 24px auto;
  padding: 12px;
}