:root {
  --primaryColor: #f1356d;
  --secondaryColor: white;
}

.petDetails {
  display: flex;
}
.petDetails button {
  background-color: var(--primaryColor);
  padding: 1rem;
}

.petDetails a {
  color: var(--secondaryColor);
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  height: 100%;
}